  .footer {
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
    background-color: #333;
    float: left;
    width: 100%;
    color: white;
  }

  ul.no-bullets {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

  .navbar {
    overflow: hidden;
    background-color: #333;
    position: sticky;
    position: -webkit-sticky;
    top: 0;
  }
  
  .navbar a {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
  }
  
  
  .navbar a.right {
    float: right;
  }
  
  .navbar a:hover {
    background-color: #ddd;
    color: black;
  }
  
  .navbar a.active {
    background-color: #666;
    color: white;
  }

  .login {
    position: sticky;
    padding: 8px;
    background-color: #ddd;
    text-align: right;
  }

  body{
    margin: 0%;
  }

  .messageErr {
    color: red;
  }

.slideshow-container {
  width: 100%;
  position: relative;
  margin: auto;
  background-color: rgb(212, 215, 216);
  text-align:center
}

/* Hide the images by default */
.mySlides {
  display: none;
}

.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  user-select: none;
}

.prev{
  left: 0;
  border-radius: 3px 0 0 3px;
}

.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

.searchJob {
  padding: 30px;
  background: #688dc4;
  color: white;
  text-align: center;
}

#myInput {
  background-position: 10px 12px;
  background-repeat: no-repeat;
  width: 80%;
  font-size: 16px;
  padding: 12px 20px 12px 40px;
  border: 1px solid #ddd;
  margin-bottom: 12px;
  margin-top: 30px;
  margin-left: 10%;

}

#myTable {
  border-collapse: collapse;
  width: 80%;
  border: 1px solid #ddd;
  font-size: 18px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

#myTable th, #myTable td {
  text-align: left;
  padding: 12px;
}

#myTable tr {
  border-bottom: 1px solid #ddd;
}

#myTable tr.header, #myTable tr:hover {
  background-color: #f1f1f1;
}

.contentTable {
  height: 1000px;
}

.error-msg{
  margin-top : 2px;
  color: red;
  font-weight: bold;
}

.input-div-nn {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.submit{
  width: 100%;
  background-color: #3053b1;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.container {
  padding-left: 200px;
} 

#search-id-nn {
  width: 40%;
  height: 30px;
  margin-bottom: 30px;;
}